body {
  background: white;
}

section {
  background: whitesmoke;
}

.main-heading {
  color: red;
}

.secondary-heading {
  color: green;
}
.special-heading {
  color: purple;
}

a {
  color: mediumseagreen;
}
nav a {
  color: magenta;
}
.header {
  background-color: mediumturquoise;
}
