body {
    background: white ;
}

section {
    background: whitesmoke;
}


h1 {
    color: blue;
}



h2 {
    color: coral;
}
.special-header {
    color: #2A7F62
}

a {
    color: mediumseagreen;
}
nav a {
    color: magenta;
}